.btn {
	display: inline-flex;
	justify-content: center;
	padding: 8px 25px;
	letter-spacing: 2px;
	transition: background-color .3s,color .3s;
	background-color: #000;
	color: #fff;
	border: 1px solid transparent;
	&:hover {
		background-color: darken(#000, 6.5%);
	}
}

.btn_circle {
	border-radius: 50%;
}

.btn_round {
	border-radius: 30px;
}