.pagination {
	margin: 20px 0;
}

.pagination__a {
	padding: 4px 10px;
}

.pagination__li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 4px;
	width: 36px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 50%;
	&:last-child {
		margin-right: 0;
	}
	&:hover, &.active {
		border-color: #ff4c89;
	}
}

@media(max-width: 768px) {
	.pagination {
		padding: 20px 0 50px;
	}
}